# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.ruff_cache/
.mypy_cache/
.pytest_cache/
build/
dist/

# OS
.DS_Store

# DWP working directories
.dwp/
tmp/

# IDE / local editor config
.idea/
.vscode/
.devcontainer/
